<%- include('partials/_header.ejs') %>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-5">
            <div class="card">
                <div class="card-body">
                    <form action="/update/<%= data.id %>" method="post">
                        <div class="form-group">
                            <input type="text" name="nombre" value="<%= data.nombre %>" class="form-control border border-dark">
                        </div>
                        <div class="form-group mt-5">
                            <input type="date" name="fecha_de_entrada" value="<%= data.fecha_de_entrada %>" class="form-control border border-dark">
                        </div>
                        <div class="form-group mt-5">
                            <input type="date" name="fecha_de_salida" value="<%= data.fecha_de_salida %>" class="form-control border border-dark">
                        </div>
                        <button type="submit" class="btn btn-primary mt-5">
                            Editar Usuario
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('partials/_footer.ejs') %>